* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav Bar Styling */

.navbar {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

.logo {
    height: 40px;
}

.nav-links {
    list-style-type: none;
}

.nav-links .link-item {
    display: inline-block;
    padding: 20px 10px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
}

.nav-links a:hover {
    color: #c5c5c5;
}

.menu {
    display: none;
}


/* Hero Styling */

.hero-banner {
    display: flex;
    background-image: url("./resources/img/anvil-mustang-front-persp_reduced_height.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 37rem;
    position: relative;
    top: 60px;
}

.hero-text {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    margin-top: 340px;
    margin-left: 50px;
}

.hero-text h1 {
    color: #ffffff;
    text-shadow: 0 0 20px #000000;
}

.button {
    text-align: center;
    padding: 10px;
    background-color: #edc107;
    width: 9rem;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

.button a {
    text-decoration: none;
    color: #000000;
}

.button a:hover {
    color: #434343;
}

/* About Us Styling */

.about-us-container {
    color: #ffffff;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    padding: 20px 0px;
}

.about-us-container h1 {
    font-size: 2.5rem;
}

.about-us p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    width: 60%;
    padding-top: 10px;
    margin: auto;
}

/* Featured Products Styling */ 



/* Mobile Devices Styling */

.menu-lines {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
}

@media all and (max-width: 1170px) {

    #navlogo {
        width: 100%;
        margin-left: 25px;
        margin-top: 10px;
    }

    .logo {
        height: 100px;
    }

    .navbar {
        flex-direction: column;
        font-size: 40px;
    }

    .nav-links {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-links .link-item {
        display: block;
        border-top: 1px solid #c5c5c5;
        padding: 10px;
    }

    .menu {
        display: block;
        position:absolute;
        right: 20px;
        top: 25px
    }

    .menu-lines {
        width: 80px;
        height: 13px;
        margin-bottom: 10px;
    }

    .active {
        display: block;
    }
}